/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family:'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif*/
  font-size: 16px;
  margin: 0;
  line-height: 150%;
}

.blue_bg {
  background-color: #1c5380;
  height: 250px;
  position: relative;
}

.container{
width: 1280px;
margin-left: auto;
margin-right; auto;
margin-top: -8.5em;
position: relative;
}

.img-float{
  float: left;
}

.container-right {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.log_in_button{
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin: 1.5em 0 0 0;
  background-color: #3897f0;
  padding: 0 1em;
}

.log_in_button img {
  margin: 0.2em 1em 0.2em 0.5em;
}

.log_in {
  margin: -5em 0 0 0;
}

.intro {
  background-image: url("../img/frame.png");
  background-size: cover;
  padding: 20px
}

.em {
  font-weight: bold;
}

.footer {
  /*display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  clear: both;
  position: relative;*/
  /*position: absolute;
  bottom: 0px;*/
  clear: both;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  /*padding-left: */
}

.bottom_nav {
  display: inline-block;
  color: #003569;
}

.nav_links_list {
  margin: 0 3em;
}

.nav_links {
  display: inline-block;
}

.copyright {
  color: #999;
}

.footer-container {
  width: 1200px;
}
